body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 120vh;
    background-image: linear-gradient(to right, #afafaf, white);
}


.pageWrap {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 13rem;
}

header {
    background-image: linear-gradient(to right, lightgray, white);
    color: #000000;
    padding: 10px;
}

.head {
    width: 90%;
    margin: auto;
}

.container {
    width: 90%;
    margin: auto;
}

.nameSocial {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    color: rgba(0, 0, 0, 0.95);

}

.job {
    font-size: 90px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;

}

.description {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.profilePicture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.logo {
    width: 100px;
    height: 50px;
}

.logo a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.socialIcons {
    display: flex;
    justify-content: flex-start;
}

.socialIcons a {
    color: #000;
    margin-left: 10px;
    text-decoration: none;
}

/* Classe adicionada para ajustar o tamanho da imagem */
.socialIcon {
    width: 30px;
    height: 30px;
}

.chamada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 200px;
}

/* Estilos responsivos */

@media (min-width: 1024px) and (max-width: 1184px){
    .job span{
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .socialIcons {
        display: flex;
        gap: 10px;
    }

    .socialIcon {
        width: 30px;
        height: 30px;
    }

    .name {
        font-size: 30px;
    }

    .job {
        font-size: 50px;
    }

    .description {
        font-size: 25px;
    }

    .nameSocial {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.projeto2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

@media (max-width: 767px) {
    .socialIcons {
        display: flex;
        gap: 10px;
    }

    .sociaIcon {
        width: 30px;
        height: 30px;
    }

    .name {
        font-size: 20px;
    }

    .job {
        font-size: 30px;
    }

    .description {
        font-size: 15px;
    }

    .nameSocial {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 406px) {
    .job span{
        width: 230px;
        font-size: 28px;
    }
}
